@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNovaT-Thin.eot");
  src: local("Proxima Nova Thin"), local("ProximaNovaT-Thin"), url("../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-ThinIt.eot");
  src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url("../fonts/ProximaNova/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-ThinIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-ThinIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-LightIt.eot");
  src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url("../fonts/ProximaNova/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-LightIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("../fonts/ProximaNova/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot");
  src: local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-BlackIt.eot");
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("../fonts/ProximaNova/ProximaNova-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-BlackIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1230px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1229.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1230px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  height: 5.4rem;
  color: #5a5a5a;
  background: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 2.6rem;
  border: 1px solid transparent;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_control::-moz-placeholder {
  color: #5a5a5a;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #5a5a5a;
}
.form_control::-webkit-input-placeholder {
  color: #5a5a5a;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus {
  border-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}

.red .form_control,
.error .form_control {
  border-color: #c83551;
}

.form_group {
  margin-bottom: 2rem;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  padding: 1.5rem 3rem;
  display: inline-block;
  vertical-align: middle;
  background: #c83551;
  text-transform: uppercase;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: 0.2 0.5s;
  -o-transition: 0.2 0.5s;
  transition: 0.2 0.5s;
}
.btn:hover {
  color: #fff;
  background: #ea2a4f;
}
.btn:active {
  background: #c83551;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Proxima Nova", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: "Gilroy", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Gilroy", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "Gilroy", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Gilroy", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Gilroy", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "Gilroy", Arial, sans-serif;
}

p {
  padding: 0;
  margin: 0 0 2rem 0;
}

a {
  outline: none;
  color: #48afe2;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.page {
  width: 100%;
  overflow: hidden;
}

.one {
  color: #fff;
  overflow: hidden;
  padding-top: 25px;
  position: relative;
  padding-bottom: 100px;
  background: #082f9e url("../img/section__01_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.one .container {
  z-index: 20;
  position: relative;
}
.one:before {
  left: 0;
  right: 0;
  z-index: 10;
  content: "";
  height: 120px;
  bottom: -80px;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transform: skewX(0) skewY(-3deg);
  -ms-transform: skewX(0) skewY(-3deg);
  -o-transform: skewX(0) skewY(-3deg);
  transform: skewX(0) skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
.one__logo {
  width: 203px;
  margin: 0 auto 6rem auto;
}
.one h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  max-width: 550px;
  text-align: center;
  margin: 0 auto 4rem auto;
  font-family: "Gilroy", Arial, sans-serif;
}
.one__text {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Gilroy", Arial, sans-serif;
}
@media (min-width: 768px) {
  .one {
    padding-top: 30px;
    height: 600px;
  }
  .one:before {
    left: 50%;
    right: auto;
    bottom: -20px;
    width: 2560px;
    margin-left: -1280px;
  }
  .one__logo {
    margin: 0 0 11rem 0;
  }
  .one h1 {
    font-size: 4.8rem;
    margin-bottom: 3rem;
  }
  .one__text {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 1230px) {
  .one {
    background-size: auto;
  }
  .one:before {
    bottom: 0;
  }
  .one h1 {
    font-size: 6rem;
    max-width: 700px;
    margin-bottom: 4.5rem;
  }
}

.two {
  z-index: 5;
  position: relative;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 80px;
}
.two__bottom {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 120px;
  overflow: hidden;
  position: absolute;
}
.two__bottom:before {
  left: 0;
  right: 0;
  z-index: 10;
  content: "";
  height: 120px;
  bottom: -80px;
  display: block;
  background: #0938bd;
  position: absolute;
  -webkit-transform: skewX(0) skewY(-3deg);
  -ms-transform: skewX(0) skewY(-3deg);
  -o-transform: skewX(0) skewY(-3deg);
  transform: skewX(0) skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
.two:after {
  left: 50%;
  z-index: 5;
  bottom: 30px;
  content: "";
  width: 1048px;
  height: 390px;
  display: none;
  margin-left: -5px;
  position: absolute;
  background: url("../img/two__chart.png") 0 0 no-repeat;
}
.two .container {
  z-index: 20;
}
.two__text {
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.two__heading {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.25;
  font-family: "Gilroy", Arial, sans-serif;
}
@media (min-width: 768px) {
  .two {
    padding-top: 50px;
    padding-bottom: 140px;
  }
  .two__bottom:before {
    left: 50%;
    right: auto;
    bottom: -20px;
    width: 2560px;
    margin-left: -1280px;
  }
  .two:after {
    display: block;
  }
  .two__text {
    font-size: 2.4rem;
  }
  .two__heading {
    font-size: 4.8rem;
  }
}
@media (min-width: 992px) {
  .two {
    padding-top: 100px;
    padding-bottom: 145px;
  }
  .two__text {
    max-width: 820px;
    font-size: 3.6rem;
  }
  .two__heading {
    font-size: 6rem;
    max-width: 670px;
  }
}
@media (min-width: 1230px) {
  .two {
    padding-bottom: 155px;
  }
  .two:after {
    bottom: 45px;
    margin-left: -90px;
  }
  .two__bottom:before {
    bottom: 0;
  }
}

.three {
  z-index: 10;
  color: #fff;
  position: relative;
  background: #0938bd url("../img/section__03_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.three__bottom {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 120px;
  overflow: hidden;
  position: absolute;
}
.three__bottom:before {
  left: 0;
  right: 0;
  z-index: 10;
  content: "";
  height: 120px;
  bottom: -90px;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transform: skewX(0) skewY(-3deg);
  -ms-transform: skewX(0) skewY(-3deg);
  -o-transform: skewX(0) skewY(-3deg);
  transform: skewX(0) skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
.three:before {
  top: -38px;
  left: 0;
  z-index: 1;
  content: "";
  width: 226px;
  height: 471px;
  display: block;
  position: absolute;
  background: url("../img/three_line_mobile.png") 0 0 no-repeat;
}
.three .container {
  z-index: 3;
  padding-top: 10px;
  position: relative;
  padding-bottom: 80px;
}
.three__block {
  z-index: 50;
  position: relative;
}
.three__woman {
  bottom: 2px;
  left: -55px;
  z-index: 10;
  width: 170px;
  display: block;
  position: absolute;
}
.three__heading {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.25;
  margin-bottom: 2.5rem;
  font-family: "Proxima Nova", Arial, sans-serif;
}
.three__heading strong {
  font-weight: 600;
}
.three__text {
  font-size: 2.1rem;
  line-height: 2.5rem;
  margin-bottom: 5rem;
}
.three__text strong {
  font-weight: 600;
  text-transform: uppercase;
}
.three__skills {
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 0 0 4.5rem 7.5rem;
}
.three__skills > li strong {
  display: block;
  font-weight: 400;
  font-size: 2.1rem;
}
.three__skills > li span {
  display: block;
}
.three__skills > li:first-child {
  margin-bottom: 1rem;
}
.three__box {
  padding: 20px;
  max-width: 290px;
  background: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}
.three__box ul {
  padding: 0;
  color: #000;
  list-style: none;
  margin: 0 -0.5rem 3.5rem -0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.three__box ul li {
  width: 50%;
  color: #000;
  padding: 0 0.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
}
.three__box ul li strong {
  display: block;
  color: #c83551;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 3.6rem;
  white-space: nowrap;
  font-family: "Gilroy", Arial, sans-serif;
}
.three__box ul li strong sub {
  bottom: 0;
  font-size: 1.6rem;
}
.three__box ul li div {
  display: block;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.three__box .btn {
  width: 100%;
}
@media (min-width: 768px) {
  .three:before {
    top: -150px;
    right: 50%;
    left: auto;
    width: 880px;
    height: 580px;
    margin-right: -136px;
    background: url("../img/three__chart.png") 0 0 no-repeat;
  }
  .three__bottom:before {
    left: 50%;
    right: auto;
    bottom: -20px;
    width: 2560px;
    margin-left: -1280px;
  }
  .three .container {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .three__woman {
    left: -115px;
    width: 309px;
    bottom: -175px;
  }
  .three__block {
    margin-left: 180px;
  }
  .three__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .three__text {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 4rem;
  }
  .three__skills {
    margin-left: 0;
  }
  .three__box {
    width: 100%;
    max-width: 510px;
    padding: 30px;
    margin-left: 0;
  }
  .three__box ul {
    margin-bottom: 2rem;
  }
  .three__box ul li strong {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media (min-width: 992px) {
  .three .container {
    padding-top: 50px;
    padding-bottom: 120px;
  }
  .three__block {
    margin-left: 250px;
  }
  .three__woman {
    left: -190px;
    width: 443px;
    bottom: -260px;
  }
  .three__heading {
    max-width: 670px;
    font-size: 4.4rem;
    margin-bottom: 4.5rem;
  }
  .three__text {
    max-width: 380px;
    margin-bottom: 5rem;
  }
  .three__text strong {
    display: block;
  }
  .three__box {
    width: 300px;
    padding: 30px 40px;
    margin-top: -70px;
  }
  .three__box ul {
    margin-bottom: 3rem;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .three__box ul li:first-child {
    margin-bottom: 3rem;
  }
  .three__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 1230px) {
  .three:before {
    top: -50px;
    margin-right: 90px;
  }
  .three__bottom:before {
    bottom: 0;
  }
  .three__block {
    margin-left: 400px;
  }
  .three__heading {
    max-width: 700px;
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .three__woman {
    left: -55px;
    bottom: -240px;
  }
}

.four {
  z-index: 20;
  background: #fff;
  position: relative;
}
.four:after {
  top: -25px;
  left: -100px;
  z-index: 5;
  content: "";
  width: 523px;
  height: 172px;
  display: block;
  position: absolute;
  background: url("../img/four__chart_top.png") 0 0 no-repeat;
}
.four:before {
  left: 0;
  right: 0;
  z-index: 10;
  content: "";
  height: 120px;
  bottom: -80px;
  display: block;
  background: #0938bd;
  position: absolute;
  -webkit-transform: skewX(0) skewY(-2.7deg);
  -ms-transform: skewX(0) skewY(-2.7deg);
  -o-transform: skewX(0) skewY(-2.7deg);
  transform: skewX(0) skewY(-2.7deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
.four .container {
  padding-top: 50px;
  position: relative;
  padding-bottom: 50px;
}
.four__features {
  margin: 0;
  padding: 0;
  list-style: none;
}
.four__features > li {
  text-align: center;
  padding-top: 7rem;
  margin-bottom: 4rem;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.four__features > li:nth-child(1) {
  background-image: url("../img/four__icon_01.png");
}
.four__features > li:nth-child(2) {
  background-image: url("../img/four__icon_02.png");
}
.four__features > li:nth-child(3) {
  background-image: url("../img/four__icon_03.png");
}
.four__features > li strong {
  color: #0963d4;
  display: block;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
}
.four__features > li span {
  color: #8a949f;
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.four__heading {
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.four__heading span {
  display: block;
}
.four__heading strong {
  font-size: 3rem;
  font-weight: 800;
}
.four__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.four__woman {
  display: none;
}
@media (min-width: 768px) {
  .four:after {
    display: none;
  }
  .four:before {
    left: 50%;
    right: auto;
    bottom: -20px;
    width: 2560px;
    margin-left: -1280px;
  }
  .four .container {
    padding-bottom: 120px;
  }
  .four__features {
    margin: 0 -3rem 11rem -3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .four__features > li {
    width: 33.33%;
    text-align: left;
    margin-bottom: 0;
    background-position: 30px 0;
    padding: 6.5rem 3rem 0 3rem;
  }
  .four__heading {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  .four__heading strong {
    font-size: 4.8rem;
  }
  .four__text {
    width: 480px;
  }
  .four__woman {
    right: -105px;
    bottom: -10px;
    width: 322px;
    display: block;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .four:before {
    left: 50%;
    right: auto;
    bottom: -20px;
    width: 2560px;
    margin-left: -1280px;
  }
  .four:after {
    left: auto;
    right: 50%;
    top: -21px;
    display: block;
    margin-right: 250px;
  }
  .four .container {
    padding-top: 80px;
  }
  .four__features > li strong {
    font-size: 4.8rem;
    line-height: 5rem;
  }
  .four__features > li span {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .four__heading {
    font-size: 3.6rem;
    margin-bottom: 4rem;
  }
  .four__heading strong {
    font-size: 6rem;
  }
  .four__text {
    width: 640px;
  }
  .four__woman {
    width: 403px;
  }
}
@media (min-width: 1230px) {
  .four {
    min-height: 980px;
  }
  .four:before {
    bottom: 0;
  }
  .four:after {
    top: -31px;
    margin-right: 430px;
  }
  .four .container {
    padding-top: 90px;
    padding-bottom: 150px;
  }
  .four__features {
    margin-bottom: 10rem;
  }
  .four__text {
    width: 760px;
  }
  .four__woman {
    right: 0;
  }
}

.five {
  z-index: 25;
  color: #fff;
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px;
  background: #0938bd;
}
.five:before {
  left: 0;
  right: 0;
  z-index: 10;
  content: "";
  height: 120px;
  bottom: -80px;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transform: skewX(0) skewY(-2.7deg);
  -ms-transform: skewX(0) skewY(-2.7deg);
  -o-transform: skewX(0) skewY(-2.7deg);
  transform: skewX(0) skewY(-2.7deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
.five__chars_top {
  display: none;
}
.five__heading {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 2rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.five__text {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.five__step {
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  counter-reset: li;
  list-style: none;
  margin: 0 0 1rem 0;
}
.five__step > li {
  min-height: 109px;
  position: relative;
  padding: 3rem 0 3rem 4rem;
  border-bottom: 1px solid #2e5de1;
}
.five__step > li:before {
  left: 0;
  top: 30px;
  font-size: 3.6rem;
  line-height: 3.6rem;
  position: absolute;
  content: counter(li);
  counter-increment: li;
  display: inline-block;
}
.five__step > li:last-child {
  border-bottom: none;
}
.five__step > li > span {
  width: 100%;
  display: table;
}
.five__step > li > span > span {
  min-height: 48px;
  display: table-cell;
  vertical-align: middle;
}
.five__info {
  margin: 0 auto;
  max-width: 568px;
  position: relative;
}
.five__info_text {
  display: block;
  margin: 0 auto;
  font-size: 3rem;
  max-width: 240px;
  line-height: 3rem;
  text-align: center;
  padding-top: 50px;
  position: relative;
}
.five__info_text:before {
  left: 50%;
  top: -110px;
  width: 1px;
  content: "";
  height: 150px;
  display: block;
  background: #fff;
  position: absolute;
}
@media (min-width: 768px) {
  .five {
    padding-bottom: 120px;
  }
  .five:before {
    left: 50%;
    right: auto;
    bottom: 0;
    width: 2560px;
    margin-left: -1280px;
  }
  .five__heading {
    max-width: 430px;
    font-size: 4.8rem;
    margin-bottom: 3.5rem;
  }
  .five__text {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
  .five__step > li {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 3.5rem 0 3.5rem 8rem;
  }
  .five__step > li:before {
    font-size: 6rem;
    line-height: 6rem;
  }
  .five__step > li > span > span {
    height: 48px;
  }
  .five__info_text {
    max-width: inherit;
    font-size: 3.6rem;
  }
  .five__info_text:before {
    height: 240px;
    margin-top: -100px;
  }
}
@media (min-width: 1230px) {
  .five {
    min-height: 940px;
  }
  .five:after {
    z-index: 15;
    content: "";
    left: 50%;
    bottom: 80px;
    width: 505px;
    height: 154px;
    display: block;
    margin-left: 450px;
    position: absolute;
    background: url("../img/five__chart_bottom.png") 0 0 no-repeat;
  }
  .five__chars_top {
    top: -45px;
    right: 50%;
    margin-right: 490px;
    display: block;
    width: 484px;
    height: 150px;
    position: absolute;
    background: url("../img/five__chart_top.png") 0 0 no-repeat;
  }
  .five:before {
    bottom: 0;
  }
  .five__heading {
    font-size: 6rem;
    max-width: inherit;
    margin-bottom: 3rem;
  }
  .five__text {
    font-size: 3.6rem;
    max-width: 830px;
    margin-bottom: 2rem;
  }
  .five__step > li {
    padding: 4rem 6rem 4rem 8rem;
  }
  .five__step > li:before {
    top: 40px;
  }
  .five__step > li > span > span {
    height: auto;
  }
  .five__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .five__left {
    width: 470px;
    padding: 50px 0 0 20px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .five__right {
    padding-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .five__info {
    max-width: inherit;
  }
  .five__info_text {
    top: 0;
    right: 0;
    padding: 0;
    width: 185px;
    text-align: left;
    position: absolute;
  }
  .five__info_text:before {
    top: auto;
    left: -90px;
    bottom: -210px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.six {
  z-index: 25;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 70px;
  position: relative;
}
.six:before {
  left: 0;
  right: 0;
  z-index: 10;
  content: "";
  height: 120px;
  bottom: -80px;
  display: block;
  position: absolute;
  background: #0938bd;
  -webkit-transform: skewX(0) skewY(-2.7deg);
  -ms-transform: skewX(0) skewY(-2.7deg);
  -o-transform: skewX(0) skewY(-2.7deg);
  transform: skewX(0) skewY(-2.7deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
.six .container {
  z-index: 50;
  position: relative;
}
.six__heading {
  font-size: 2.1rem;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 4rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.six__heading strong {
  display: block;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.six__t1 {
  color: #0963d4;
  max-width: 200px;
  font-size: 2.4rem;
  text-align: center;
  line-height: 2.6rem;
  margin: 0 auto 0.5rem auto;
}
.six__t2 {
  color: #8a949f;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}
.six__advantage {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding: 3rem 2rem;
  background: #0963d4;
  margin-bottom: 3.7rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(9, 99, 212, 0.45);
  box-shadow: 0px 3px 21px 0px rgba(9, 99, 212, 0.45);
}
.six__advantage ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.six__advantage li {
  padding-left: 3rem;
  position: relative;
  margin-bottom: 2rem;
  background: url("../img/icon__check.png") 0 5px no-repeat;
}
.six__advantage li:last-child {
  margin-bottom: 0;
}
.six__step {
  padding: 0;
  max-width: 290px;
  list-style: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.six__step li {
  width: 130px;
  color: #97a1aa;
  font-size: 1.5rem;
  line-height: 1.8rem;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 135px;
}
.six__step li:after {
  top: 45px;
  right: -25px;
  content: "";
  width: 20px;
  height: 20px;
  display: none;
  position: absolute;
  background: url("../img/icon__plus.svg") 50% 50% no-repeat;
}
.six__step li:before {
  top: 0;
  left: 50%;
  content: "";
  width: 110px;
  height: 110px;
  display: block;
  margin-left: -55px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.six__step li:nth-child(1):before {
  background: #f2f2f2 url("../img/six__icon_01.png") 50% 50% no-repeat;
}
.six__step li:nth-child(1):after {
  display: block;
}
.six__step li:nth-child(2):before {
  background: #f2f2f2 url("../img/six__icon_02.png") 50% 50% no-repeat;
}
.six__step li:nth-child(3):before {
  background: #f2f2f2 url("../img/six__icon_03.png") 50% 50% no-repeat;
}
.six__step li:nth-child(3):after {
  display: block;
}
.six__step li:nth-child(4):before {
  background: #f2f2f2 url("../img/six__icon_04.png") 50% 50% no-repeat;
}
.six__step li strong {
  color: #000;
  display: block;
  font-weight: 400;
}
.six__bracket {
  max-width: 290px;
  padding-top: 1rem;
  margin: 0 auto 1rem auto;
}
.six__summary {
  width: 200px;
  color: #0963d4;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;
  margin: 0 auto 3rem auto;
  font-family: "Gilroy", Arial, sans-serif;
}
.six__slogan {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 5rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.six__slogan p {
  margin-bottom: 1rem;
}
.six__slogan strong {
  color: #0963d4;
  display: block;
  font-weight: 800;
}
.six__slogan span {
  display: block;
}
.six__form {
  padding: 30px 20px;
  background: #eeeeee;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
}
.six__form_title {
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.six__form_title strong {
  font-weight: 800;
  color: #c83551;
}
.six__form_row {
  margin: 0;
  padding: 0;
  list-style: none;
}
.six__form .btn {
  width: 100%;
}
@media (min-width: 768px) {
  .six {
    padding-bottom: 120px;
  }
  .six:before {
    left: 50%;
    right: auto;
    bottom: 0;
    width: 2560px;
    margin-left: -1280px;
  }
  .six__heading {
    font-size: 2.4rem;
    margin-bottom: 5rem;
  }
  .six__heading strong {
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }
  .six__t1 {
    width: auto;
    font-size: 3.6rem;
    max-width: inherit;
    margin-bottom: 1rem;
  }
  .six__t2 {
    width: auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 3.5rem;
  }
  .six__advantage {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 2.8rem 3rem;
    margin-bottom: 4.8rem;
  }
  .six__advantage li {
    padding-left: 5rem;
    margin-bottom: 3rem;
  }
  .six__advantage li:last-child {
    margin-bottom: 0;
  }
  .six__step {
    width: 100%;
    max-width: inherit;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .six__step li {
    width: 25%;
    margin-bottom: 0;
  }
  .six__step li:after {
    right: -10px;
  }
  .six__step li:nth-child(2):after {
    display: block;
  }
  .six__step li:nth-child(3) {
    padding: 135px 15px 0 15px;
  }
  .six__bracket {
    padding-top: 2rem;
    max-width: inherit;
    margin-bottom: 2.5rem;
  }
  .six__summary {
    width: auto;
    font-size: 4.8rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
  .six__slogan {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 4rem;
  }
  .six__slogan strong {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .six__form {
    padding: 50px 30px 15px 30px;
  }
  .six__form_title {
    margin-bottom: 3rem;
  }
  .six__form_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .six__form_row > li {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1230px) {
  .six {
    padding-top: 80px;
    padding-bottom: 150px;
  }
  .six:before {
    bottom: 0;
  }
  .six:after {
    left: 50%;
    bottom: -38px;
    content: "";
    width: 950px;
    height: 340px;
    display: block;
    position: absolute;
    background: url("../img/six__chart_bottom.png") 0 0 no-repeat;
  }
  .six__heading {
    font-size: 3.6rem;
    margin-bottom: 10rem;
  }
  .six__heading strong {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  .six__t1 {
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
  }
  .six__t2 {
    margin-bottom: 6rem;
  }
  .six__advantage {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 2.8rem 3rem;
    margin-bottom: 6rem;
  }
  .six__advantage ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .six__advantage li {
    width: 310px;
    padding-left: 5rem;
    margin-bottom: 0;
  }
  .six__advantage li:last-child {
    margin-bottom: 0;
  }
  .six__step {
    width: 100%;
    max-width: inherit;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .six__step li {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-top: 200px;
  }
  .six__step li:before {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .six__step li:after {
    top: 75px;
    right: -10px;
  }
  .six__step li:nth-child(2) {
    padding: 200px 20px 0 20px;
  }
  .six__step li:nth-child(2):after {
    display: block;
  }
  .six__step li:nth-child(3) {
    padding: 200px 15px 0 15px;
  }
  .six__bracket {
    width: 800px;
    padding-top: 5rem;
    max-width: inherit;
    margin-bottom: 5rem;
  }
  .six__summary {
    width: auto;
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: 5rem;
    position: relative;
  }
  .six__summary:before {
    top: 100%;
    left: 53px;
    content: "";
    width: 135px;
    height: 131px;
    margin-top: 15px;
    position: absolute;
    background: url("../img/six__email.png") 0 0 no-repeat;
  }
  .six__slogan {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 8rem;
  }
  .six__slogan strong {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .six__form {
    padding: 50px 30px 20px 30px;
  }
  .six__form_title {
    font-size: 3rem;
    max-width: 780px;
    margin: 0 auto 4rem auto;
  }
  .six__form_row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .six__form_row > li {
    width: calc(25% - 15px);
  }
}

.seven {
  color: #fff;
  z-index: 35;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background: #0938bd;
}
.seven .container {
  z-index: 20;
  position: relative;
}
.seven__heading {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Gilroy", Arial, sans-serif;
}
.seven__copy {
  color: #9fb7f9;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .seven__heading {
    width: 510px;
    font-size: 4.8rem;
    margin: 0 auto 3.5rem auto;
  }
}
@media (min-width: 1230px) {
  .seven {
    padding-bottom: 40px;
    padding-top: 90px;
  }
  .seven__heading {
    width: auto;
    text-align: left;
    font-size: 6rem;
    margin-bottom: 8rem;
  }
  .seven__copy {
    text-align: left;
  }
}

.faq {
  padding: 0;
  list-style: none;
  counter-reset: li;
  margin: 0 0 20px 0;
}
.faq > li {
  font-size: 1.6rem;
  line-height: 2.1rem;
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
}
.faq > li:before {
  left: 0;
  top: 2px;
  font-size: 3.6rem;
  line-height: 3.6rem;
  position: absolute;
  content: counter(li);
  counter-increment: li;
  display: inline-block;
}
.faq > li a {
  color: #fff;
  text-decoration: underline;
}
.faq > li a:hover {
  color: #fff;
  text-decoration: none;
}
.faq > li:last-child {
  margin-bottom: 0;
}
.faq__heading {
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
  font-family: "Gilroy", Arial, sans-serif;
}
@media (min-width: 768px) {
  .faq {
    margin-bottom: 5rem;
  }
  .faq__heading {
    font-size: 3rem;
    margin-bottom: 3rem;
    line-height: 3.4rem;
  }
  .faq > li {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 60px;
  }
  .faq > li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1230px) {
  .faq {
    margin-left: 20px;
    margin-bottom: 120px;
  }
  .faq:before {
    left: 50%;
    top: -220px;
    z-index: 1;
    content: "";
    width: 1920px;
    height: 730px;
    display: block;
    margin-left: -972px;
    position: absolute;
    background: url("../img/seven__chars.png") 0 0 no-repeat;
  }
  .faq > li {
    padding-left: 70px;
  }
  .faq > li:before {
    top: 0;
    font-size: 6rem;
    line-height: 6rem;
  }
  .faq__heading {
    max-width: 920px;
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}

.thanks {
  color: #000;
  max-width: 1170px;
  width: calc(100% - 30px);
  background: #eee;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 30px 20px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.thanks span {
  color: #c83551;
}
.thanks p {
  margin: 0;
  padding: 0;
}
.thanks a {
  color: #c83551;
  text-decoration: none;
}
.thanks a:hover {
  color: #c83551;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .thanks {
    text-align: left;
    padding: 40px 40px 40px 240px;
    background: #eee url("../img/six__email.png") 50px 50% no-repeat;
  }
}
@media (min-width: 992px) {
  .thanks {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=main.css.map */
