.page {
	width: 100%;
	overflow: hidden;
}

.one {
	color: #fff;
	overflow: hidden;
	padding-top: 25px;
	position: relative;
	padding-bottom: 100px;
	background: #082f9e url("../img/section__01_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	.container {
		z-index: 20;
		position: relative;
	}

	&:before {
		left: 0;
		right: 0;
		z-index: 10;
		content: '';
		height: 120px;
		bottom: -80px;
		display: block;
		background: #fff;
		position: absolute;
		@include skew(0, -3deg);
		@include transform-origin(100%);
	}

	&__logo {
		width: 203px;
		margin: 0 auto 6rem auto;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		line-height: 1.2;
		max-width: 550px;
		text-align: center;
		margin: 0 auto 4rem auto;
		font-family: $font-family-head;
	}

	&__text {
		font-weight: 800;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		font-family: $font-family-head;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 30px;
		height: 600px;

		&:before {
			left: 50%;
			right: auto;
			bottom: -20px;
			width: 2560px;
			margin-left: -1280px;
		}

		&__logo {
			margin: 0 0 11rem 0;
		}

		h1 {
			font-size: 4.8rem;
			margin-bottom: 3rem;
		}

		&__text {
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		background-size: auto;

		&:before {
			bottom: 0;
		}

		h1 {
			font-size: 6rem;
			max-width: 700px;
			margin-bottom: 4.5rem;
		}
	}
}

.two {
	z-index: 5;
	position: relative;
	background: #fff;
	padding-top: 20px;
	padding-bottom: 80px;

	&__bottom {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		height: 120px;
		overflow: hidden;
		position: absolute;

		&:before {
			left: 0;
			right: 0;
			z-index: 10;
			content: '';
			height: 120px;
			bottom: -80px;
			display: block;
			background: #0938bd;
			position: absolute;
			@include skew(0, -3deg);
			@include transform-origin(100%);
		}
	}

	&:after {
		left: 50%;
		z-index: 5;
		bottom: 30px;
		content: '';
		width: 1048px;
		height: 390px;
		display: none;
		margin-left: -5px;
		position: absolute;
		background: url("../img/two__chart.png") 0 0 no-repeat;
	}

	.container {
		z-index: 20;
	}

	&__text {
		font-weight: 300;
		font-size: 2.1rem;
		line-height: 1.25;
		margin-bottom: 1.5rem;
		font-family: $font-family-head;
	}

	&__heading {
		font-weight: 800;
		font-size: 3rem;
		line-height: 1.25;
		font-family: $font-family-head;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 50px;
		padding-bottom: 140px;

		&__bottom {

			&:before {
				left: 50%;
				right: auto;
				bottom: -20px;
				width: 2560px;
				margin-left: -1280px;
			}
		}

		&:after {
			display: block;
		}

		&__text {
			font-size: 2.4rem;
		}

		&__heading {
			font-size: 4.8rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 100px;
		padding-bottom: 145px;

		&__text {
			max-width: 820px;
			font-size: 3.6rem;
		}

		&__heading {
			font-size: 6rem;
			max-width: 670px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 155px;

		&:after {
			bottom: 45px;
			margin-left: -90px;
		}

		&__bottom {

			&:before {
				bottom: 0;
			}
		}
	}
}

.three {
	z-index: 10;
	color: #fff;
	position: relative;
	background: #0938bd url("../img/section__03_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__bottom {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		height: 120px;
		overflow: hidden;
		position: absolute;

		&:before {
			left: 0;
			right: 0;
			z-index: 10;
			content: '';
			height: 120px;
			bottom: -90px;
			display: block;
			background: #fff;
			position: absolute;
			@include skew(0, -3deg);
			@include transform-origin(100%);
		}
	}

	&:before {
		top: -38px;
		left: 0;
		z-index: 1;
		content: '';
		width: 226px;
		height: 471px;
		display: block;
		position: absolute;
		background: url("../img/three_line_mobile.png") 0 0 no-repeat;
	}

	.container {
		z-index: 3;
		padding-top: 10px;
		position: relative;
		padding-bottom: 80px;
	}

	&__block {
		z-index: 50;
		position: relative;
	}

	&__woman {
		bottom: 2px;
		left: -55px;
		z-index: 10;
		width: 170px;
		display: block;
		position: absolute;
	}

	&__line {

	}

	&__heading {
		font-weight: 300;
		font-size: 2.4rem;
		line-height: 1.25;
		margin-bottom: 2.5rem;
		font-family: $font-family-base;

		strong {
			font-weight: 600;
		}
	}

	&__row {

	}

	&__text {
		font-size: 2.1rem;
		line-height: 2.5rem;
		margin-bottom: 5rem;

		strong {
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	&__skills {
		padding: 0;
		list-style: none;
		font-size: 1.4rem;
		line-height: 2.4rem;
		margin: 0 0 4.5rem 7.5rem;

		> li {

			strong {
				display: block;
				font-weight: 400;
				font-size: 2.1rem;
			}

			span {
				display: block;
			}

			&:first-child {
				margin-bottom: 1rem;
			}
		}
	}

	&__box {
		padding: 20px;
		max-width: 290px;
		background: #fff;
		@include border-radius(12px);

		ul {
			padding: 0;
			color: #000;
			list-style: none;
			margin: 0 -0.5rem 3.5rem -0.5rem;
			@include flexbox();

			li {
				width: 50%;
				color: #000;
				padding: 0 0.5rem;
				font-size: 1.6rem;
				line-height: 2rem;

				strong {
					display: block;
					color: $color-red;
					font-weight: 800;
					font-size: 3.6rem;
					line-height: 3.6rem;
					white-space: nowrap;
					font-family: $font-family-head;

					sub {
						bottom: 0;
						font-size: 1.6rem;
					}
				}

				div {
					display: block;
					white-space: nowrap;
					margin-bottom: 0.5rem;
				}
			}
		}

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-md-min) {

		&:before {
			top: -150px;
			right: 50%;
			left: auto;
			width: 880px;
			height: 580px;
			margin-right: -136px;
			background: url("../img/three__chart.png") 0 0 no-repeat;
		}

		&__bottom {

			&:before {
				left: 50%;
				right: auto;
				bottom: -20px;
				width: 2560px;
				margin-left: -1280px;
			}
		}

		.container {
			padding-top: 40px;
			padding-bottom: 100px;
		}

		&__woman {
			left: -115px;
			width: 309px;
			bottom: -175px;
		}

		&__block {
			margin-left: 180px;
		}

		&__heading {
			font-size: 3rem;
			margin-bottom: 2rem;
		}

		&__text {
			font-size: 2.4rem;
			line-height: 3.6rem;
			margin-bottom: 4rem;
		}

		&__skills {
			margin-left: 0;
		}

		&__box {
			width: 100%;
			max-width: 510px;
			padding: 30px;
			margin-left: 0;

			ul {
				margin-bottom: 2rem;

				li {

					strong {
						font-size: 6rem;
						line-height: 6rem;
					}
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		.container {
			padding-top: 50px;
			padding-bottom: 120px;
		}

		&__block {
			margin-left: 250px;
		}

		&__woman {
			left: -190px;
			width: 443px;
			bottom: -260px;
		}

		&__heading {
			max-width: 670px;
			font-size: 4.4rem;
		//	line-height: 4.8rem;
			margin-bottom: 4.5rem;
		}

		&__text {
			max-width: 380px;
			margin-bottom: 5rem;

			strong {
				display: block;
			}
		}

		&__box {
			width: 300px;
			padding: 30px 40px;
			margin-top: -70px;

			ul {
				margin-bottom: 3rem;
				@include flex-direction(column);

				li {

					&:first-child {
						margin-bottom: 3rem;
					}
				}
			}
		}

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-xl-min) {

		&:before {
			top: -50px;
			margin-right: 90px;
		}

		&__bottom {

			&:before {
				bottom: 0;
			}
		}

		&__block {
			margin-left: 400px;
		}

		&__heading {
			max-width: 700px;
			font-size: 4.8rem;
			line-height: 4.8rem;
		}

		&__woman {
			left: -55px;
			bottom: -240px;
		}
	}
}

.four {
	z-index: 20;
	background: #fff;
	position: relative;

	&:after {
		top: -25px;
		left: -100px;
		z-index: 5;
		content: '';
		width: 523px;
		height: 172px;
		display: block;
		position: absolute;
		background: url("../img/four__chart_top.png") 0 0 no-repeat;
	}

	&:before {
		left: 0;
		right: 0;
		z-index: 10;
		content: '';
		height: 120px;
		bottom: -80px;
		display: block;
		background: #0938bd;
		position: absolute;
		@include skew(0, -2.7deg);
		@include transform-origin(100%);
	}

	.container {
		padding-top: 50px;
		position: relative;
		padding-bottom: 50px;
	}

	&__features {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			text-align: center;
			padding-top: 7rem;
			margin-bottom: 4rem;
			background-position: 50% 0;
			background-repeat: no-repeat;

			&:nth-child(1) {
				background-image: url("../img/four__icon_01.png");
			}

			&:nth-child(2) {
				background-image: url("../img/four__icon_02.png");
			}

			&:nth-child(3) {
				background-image: url("../img/four__icon_03.png");
			}

			strong {
				color: #0963d4;
				display: block;
				font-size: 3rem;
				font-weight: 400;
				line-height: 3rem;
			}

			span {
				color: #8a949f;
				display: block;
				font-weight: 600;
				font-size: 1.8rem;
				line-height: 2.4rem;
			}
		}
	}

	&__heading {
		font-weight: 300;
		font-size: 2.1rem;
		line-height: 1.3;
		margin-bottom: 2rem;
		font-family: $font-family-head;

		span {
			display: block;
		}

		strong {
			font-size: 3rem;
			font-weight: 800;
		}
	}

	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
	}

	&__woman {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		&:after {
			display: none;
		}

		&:before {
			left: 50%;
			right: auto;
			bottom: -20px;
			width: 2560px;
			margin-left: -1280px;
		}

		.container {
			padding-bottom: 120px;
		}

		&__features {
			margin: 0 -3rem 11rem -3rem;
			@include flexbox();

			> li {
				width: 33.33%;
				text-align: left;
				margin-bottom: 0;
				background-position: 30px 0;
				padding: 6.5rem 3rem 0 3rem;
			}
		}

		&__heading {
			font-size: 2.4rem;
			margin-bottom: 3rem;

			strong {
				font-size: 4.8rem;
			}
		}

		&__text {
			width: 480px;
		}

		&__woman {
			right: -105px;
			bottom: -10px;
			width: 322px;
			display: block;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {

		&:before {
			left: 50%;
			right: auto;
			bottom: -20px;
			width: 2560px;
			margin-left: -1280px;
		}


		&:after {
			left: auto;
			right: 50%;
			top: -21px;
			display: block;
			margin-right: 250px;
		}

		.container {
			padding-top: 80px;
		}

		&__features {

			> li {

				strong {
					font-size: 4.8rem;
					line-height: 5rem;
				}

				span {
					font-size: 1.8rem;
					line-height: 2.4rem;
				}
			}
		}

		&__heading {
			font-size: 3.6rem;
			margin-bottom: 4rem;

			strong {
				font-size: 6rem;
			}
		}

		&__text {
			width: 640px;
		}

		&__woman {
		//	right: 0;
			width: 403px;
		}
	}

	@media (min-width: $screen-xl-min) {
		min-height: 980px;

		&:before {
			bottom: 0;
		}

		&:after {
			top: -31px;
			margin-right: 430px;
		}

		.container {
			padding-top: 90px;
			padding-bottom: 150px;
		}

		&__features {
			margin-bottom: 10rem;
		}

		&__text {
			width: 760px;
		}

		&__woman {
			right: 0;
		}
	}
}

.five {
	z-index: 25;
	color: #fff;
	position: relative;
	padding-top: 30px;
	padding-bottom: 80px;
	background: #0938bd;

	.container {}

	&:before {
		left: 0;
		right: 0;
		z-index: 10;
		content: '';
		height: 120px;
		bottom: -80px;
		display: block;
		background: #fff;
		position: absolute;
		@include skew(0, -2.7deg);
		@include transform-origin(100%);
	}

	&:after {
	//	display: none;
	}

	&__chars_top {
		display: none;
	}

	&__heading {
		font-size: 3rem;
		font-weight: 800;
		line-height: 1.25;
		margin-bottom: 2rem;
		font-family: $font-family-head;
	}

	&__text {
		font-size: 2.1rem;
		font-weight: 300;
		line-height: 1.25;
		margin-bottom: 0.5rem;
		font-family: $font-family-head;
	}

	&__step {
		padding: 0;
		font-size: 1.6rem;
		line-height: 2.4rem;
		counter-reset:li;
		list-style: none;
		margin: 0 0 1rem 0;

		> li {
			min-height: 109px;
			position: relative;
			padding: 3rem 0 3rem 4rem;
			border-bottom: 1px solid #2e5de1;

			&:before {
				left: 0;
				top: 30px;
				font-size: 3.6rem;
				line-height: 3.6rem;
				position: absolute;
				content:counter(li);
				counter-increment:li;
				display: inline-block;
			}

			&:last-child {
				border-bottom: none;
			}

			> span {
				width: 100%;
				display: table;

				> span {
					min-height: 48px;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}

	&__info {
		margin: 0 auto;
		max-width: 568px;
		position: relative;

		&_image {

		}

		&_text {
			display: block;
			margin: 0 auto;
			font-size: 3rem;
			max-width: 240px;
			line-height: 3rem;
			text-align: center;
			padding-top: 50px;
			position: relative;

			&:before {
				left: 50%;
				top: -110px;
				width: 1px;
				content: '';
				height: 150px;
				display: block;
				background: #fff;
				position: absolute;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 120px;

		&:before {
			left: 50%;
			right: auto;
			bottom: 0;
			width: 2560px;
			margin-left: -1280px;
		}

		&__heading {
			max-width: 430px;
			font-size: 4.8rem;
			margin-bottom: 3.5rem;
		}

		&__text {
			font-size: 2.4rem;
			margin-bottom: 1.5rem;
		}

		&__step {

			> li {
				font-size: 1.8rem;
				line-height: 2.4rem;
				padding: 3.5rem 0 3.5rem 8rem;

				&:before {
					font-size: 6rem;
					line-height: 6rem;
				}

				> span {

					> span {
						height: 48px;
					}
				}
			}
		}

		&__info {

			&_text {
				max-width: inherit;
				font-size: 3.6rem;

				&:before {
					height: 240px;
					margin-top: -100px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		min-height: 940px;

		&:after {
			z-index: 15;
			content: '';
			left: 50%;
			bottom: 80px;
			width: 505px;
			height: 154px;
			display: block;
			margin-left: 450px;
			position: absolute;
			background: url("../img/five__chart_bottom.png") 0 0 no-repeat;
		}

		&__chars_top {
			top: -45px;
			right: 50%;
			margin-right: 490px;
			display: block;
			width: 484px;
			height: 150px;
			position: absolute;
			background: url("../img/five__chart_top.png") 0 0 no-repeat;
		}

		&:before {
			bottom: 0;
		}

		&__heading {
			font-size: 6rem;
			max-width: inherit;
			margin-bottom: 3rem;
		}

		&__text {
			font-size: 3.6rem;
			max-width: 830px;
			margin-bottom: 2rem;
		}

		&__step {

			> li {
				padding: 4rem 6rem 4rem 8rem;

				&:before {
					top: 40px;
				}

				> span {

					> span {
						height: auto;
					}
				}
			}
		}

		&__row {
			@include flexbox();
		//	@include justify-content(space-between);
		}

		&__left {
			width: 470px;
			padding: 50px 0 0 20px;
			@include flex-shrink(0);
		}

		&__right {
			padding-left: 30px;
			@include flex-grow(1);
		}

		&__info {
			max-width: inherit;

			&_text {
				top: 0;
				right: 0;
				padding: 0;
				width: 185px;
				text-align: left;
				position: absolute;

				&:before {
					top: auto;
					left: -90px;
					bottom: -210px;
					@include rotate(-135deg);
				}

			}
		}
	}
}


.six {
	z-index: 25;
	background: #fff;
	padding-top: 20px;
	padding-bottom: 70px;
	position: relative;

	&:before {
		left: 0;
		right: 0;
		z-index: 10;
		content: '';
		height: 120px;
		bottom: -80px;
		display: block;
		position: absolute;
		background: #0938bd;
		@include skew(0, -2.7deg);
		@include transform-origin(100%);
	}

	.container {
		z-index: 50;
		position: relative;
	}


	&__heading {
		font-size: 2.1rem;
		line-height: 1.25;
		text-align: center;
		margin-bottom: 4rem;
		font-family: $font-family-head;

		strong {
			display: block;
			font-size: 3rem;
			font-weight: 800;
			margin-bottom: 0.5rem;
		}
	}

	&__t1 {
		color: #0963d4;
		max-width: 200px;
		font-size: 2.4rem;
		text-align: center;
		line-height: 2.6rem;
		margin: 0 auto 0.5rem auto;
	}

	&__t2 {
		color: #8a949f;
		font-weight: 600;
		font-size: 1.8rem;
		text-align: center;
		line-height: 2.4rem;
		margin-bottom: 3rem;
	}

	&__advantage {
		color: #fff;
		font-size: 1.6rem;
		line-height: 2.1rem;
		padding: 3rem 2rem;
		background: #0963d4;
		margin-bottom: 3.7rem;
		@include border-radius(5px);
		@include box-shadow(0px 3px 21px 0px rgba(9, 99, 212, 0.45));

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			padding-left: 3rem;
			position: relative;
			margin-bottom: 2rem;
			background: url("../img/icon__check.png") 0 5px no-repeat;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__step {
		padding: 0;
		max-width: 290px;
		list-style: none;
		margin: 0 auto;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		li {
			width: 130px;
			color: #97a1aa;
			font-size: 1.5rem;
			line-height: 1.8rem;
			position: relative;
			text-align: center;
			margin-bottom: 2rem;
			padding-top: 135px;

			&:after {
				top: 45px;
				right: -25px;
				content: '';
				width: 20px;
				height: 20px;
				display: none;
				position: absolute;
				background: url("../img/icon__plus.svg") 50% 50% no-repeat;
			}


			&:before {
				top: 0;
				left: 50%;
				content: '';
				width: 110px;
				height: 110px;
				display: block;
				margin-left: -55px;
				position: absolute;
				@include border-radius(50%);
			}

			&:nth-child(1) {

				&:before {
					background: #f2f2f2 url("../img/six__icon_01.png") 50% 50% no-repeat;
				}

				&:after {
					display: block;
				}
			}

			&:nth-child(2) {

				&:before {
					background: #f2f2f2 url("../img/six__icon_02.png") 50% 50% no-repeat;
				}
			}

			&:nth-child(3) {

				&:before {
					background: #f2f2f2 url("../img/six__icon_03.png") 50% 50% no-repeat;
				}

				&:after {
					display: block;
				}
			}

			&:nth-child(4) {

				&:before {
					background: #f2f2f2 url("../img/six__icon_04.png") 50% 50% no-repeat;
				}
			}

			strong {
				color: #000;
				display: block;
				font-weight: 400;
			}

			span {

			}
		}

		&_plus {

		}
	}

	&__bracket {
		max-width: 290px;
		padding-top: 1rem;
		margin: 0 auto 1rem auto;
	}

	&__summary {
		width: 200px;
		color: #0963d4;
		font-size: 3rem;
		font-weight: 800;
		line-height: 1.25;
		text-align: center;
		margin: 0 auto 3rem auto;
		font-family: $font-family-head;
	}

	&__slogan {
		font-size: 1.6rem;
		font-weight: 800;
		line-height: 1.25;
		text-align: center;
		margin-bottom: 5rem;
		font-family: $font-family-head;

		p {
			margin-bottom: 1rem;
		}

		strong {
			color: #0963d4;
			display: block;
			font-weight: 800;
		}

		span {
			display: block;
		}
	}


	&__form {
		padding: 30px 20px;
		background: #eeeeee;
		@include border-radius(14px);

		&_title {
			font-weight: 800;
			font-size: 2.1rem;
			line-height: 1.15;
			text-align: center;
			margin-bottom: 2rem;
			font-family: $font-family-head;

			strong {
				font-weight: 800;
				color: $color-red;
			}
		}

		&_row {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 120px;

		&:before {
			left: 50%;
			right: auto;
			bottom: 0;
			width: 2560px;
			margin-left: -1280px;
		}

		&__heading {
			font-size: 2.4rem;
			margin-bottom: 5rem;

			strong {
				font-size: 4.8rem;
				margin-bottom: 2rem;
			}
		}

		&__t1 {
			width: auto;
			font-size: 3.6rem;
			max-width: inherit;
			margin-bottom: 1rem;
		}

		&__t2 {
			width: auto;
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 3.5rem;
		}

		&__advantage {
			font-size: 1.8rem;
			line-height: 2.4rem;
			padding: 2.8rem 3rem;
			margin-bottom: 4.8rem;

			ul {

			}

			li {
				padding-left: 5rem;
				margin-bottom: 3rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__step {
			width: 100%;
			max-width: inherit;
			@include flex-wrap(nowrap);

			li {
				width: 25%;
				margin-bottom: 0;

				&:after {
					right: -10px;
				}

				&:nth-child(2) {

					&:after {
						display: block;
					}
				}

				&:nth-child(3) {
					padding: 135px 15px 0 15px;

				}
			}
		}

		&__bracket {
			padding-top: 2rem;
			max-width: inherit;
			margin-bottom: 2.5rem;
		}

		&__summary {
			width: auto;
			font-size: 4.8rem;
			line-height: 5rem;
			margin-bottom: 5rem;
		}

		&__slogan {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 4rem;

			strong {
				font-size: 2.4rem;
				line-height: 2.8rem;
			}
		}

		&__form {
			padding: 50px 30px 15px 30px;

			&_title {
				margin-bottom: 3rem;
			}

			&_row {
				@include flexbox();
				@include flex-wrap(wrap);
				@include justify-content(space-between);

				> li {
					width: calc(50% - 15px);
				}

			}
		}
	}


	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		padding-top: 80px;
		padding-bottom: 150px;

		&:before {
			bottom: 0;
		}

		&:after {
			left: 50%;
			bottom: -38px;
			content: '';
			width: 950px;
			height: 340px;
			display: block;
			position: absolute;
			background: url("../img/six__chart_bottom.png") 0 0 no-repeat;
		}

		&__heading {
			font-size: 3.6rem;
			margin-bottom: 10rem;

			strong {
				font-size: 6rem;
				margin-bottom: 2rem;
			}
		}

		&__t1 {
			font-size: 4.8rem;
			margin-bottom: 1.5rem;
		}

		&__t2 {
			margin-bottom: 6rem;
		}

		&__advantage {
			font-size: 1.8rem;
			line-height: 2.4rem;
			padding: 2.8rem 3rem;
			margin-bottom: 6rem;

			ul {
				@include flexbox();
				@include justify-content(space-between);
			}

			li {
				width: 310px;
				padding-left: 5rem;
				margin-bottom: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__step {
			width: 100%;
			max-width: inherit;
			@include flex-wrap(nowrap);

			li {
				font-size: 1.8rem;
				line-height: 2.4rem;
				padding-top: 200px;

				&:before {
					width: 170px;
					height: 170px;
					margin-left: -85px;
				}

				&:after {
					top: 75px;
					right: -10px;
				}

				&:nth-child(2) {
					padding: 200px 20px 0 20px;

					&:after {
						display: block;
					}
				}

				&:nth-child(3) {
					padding: 200px 15px 0 15px;

				}
			}
		}


		&__bracket {
			width: 800px;
			padding-top: 5rem;
			max-width: inherit;
			margin-bottom: 5rem;
		}

		&__summary {
			width: auto;
			font-size: 6rem;
			line-height: 6rem;
			margin-bottom: 5rem;
			position: relative;

			&:before {
				top: 100%;
				left: 53px;
				content: '';
				width: 135px;
				height: 131px;
				margin-top: 15px;
				position: absolute;
				background: url("../img/six__email.png") 0 0 no-repeat;
			}
		}

		&__slogan {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 8rem;

			strong {
				font-size: 2.4rem;
				line-height: 2.8rem;
			}
		}

		&__form {
			padding: 50px 30px 20px 30px;

			&_title {
				font-size: 3rem;
				max-width: 780px;
				margin: 0 auto 4rem auto;
			}

			&_row {
				@include flex-wrap(nowrap);

				> li {
					width: calc(25% - 15px);
				}

			}
		}
	}
}

.seven {
	color: #fff;
	z-index: 35;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	background: #0938bd;

	.container {
		z-index: 20;
		position: relative;
	}

	&__heading {
		font-size: 3rem;
		line-height: 1.2;
		font-weight: 800;
		text-align: center;
		margin-bottom: 3rem;
		font-family: $font-family-head;
	}

	&__copy {
		color: #9fb7f9;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			width: 510px;
			font-size: 4.8rem;
			margin: 0 auto 3.5rem auto;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 40px;
		padding-top: 90px;

		&__heading {
			width: auto;
			text-align: left;
			font-size: 6rem;
			margin-bottom: 8rem;
		}

		&__copy {
			text-align: left;
		}
	}
}


.faq {
	padding: 0;
	list-style: none;
	counter-reset:li;
	margin: 0 0 20px 0;

	> li {
		font-size: 1.6rem;
		line-height: 2.1rem;
		position: relative;
		padding-left: 40px;
		margin-bottom: 30px;

		&:before {
			left: 0;
			top: 2px;
			font-size: 3.6rem;
			line-height: 3.6rem;
			position: absolute;
			content:counter(li);
			counter-increment:li;
			display: inline-block;
		}

		a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	&__heading {
		font-weight: 300;
		font-size: 2.1rem;
		line-height: 2.4rem;
		margin-bottom: 1rem;
		font-family: $font-family-head;
	}

	&__text {

	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 5rem;

		&__heading {
			font-size: 3rem;
			margin-bottom: 3rem;
			line-height: 3.4rem;
		}

		> li {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		margin-left: 20px;
		margin-bottom: 120px;

		&:before {
			left: 50%;
			top: -220px;
			z-index: 1;
			content: '';
			width: 1920px;
			height: 730px;
			display: block;
			margin-left: -972px;
			position: absolute;
			background: url("../img/seven__chars.png") 0 0 no-repeat;
		}

		> li {
			padding-left: 70px;


			&:before {
				top: 0;
				font-size: 6rem;
				line-height: 6rem;
			}
		}

		&__heading {
			max-width: 920px;
			font-size: 3.6rem;
			line-height: 4.2rem;
		}
	}
}

.thanks {
	color: #000;
	max-width: 1170px;
	width: calc(100% - 30px);
	background: #eee;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.3;
	padding: 30px 20px;
	text-align: center;
	@include border-radius(10px);

	span {
		color: $color-red;
	}

	p {
		margin: 0;
		padding: 0;
	}

	a {
		color: $color-red;
		text-decoration: none;

		&:hover {
			color: $color-red;
			text-decoration: underline;
		}
	}

	@media (min-width: $screen-md-min) {
		text-align: left;
		padding: 40px 40px 40px 240px;
		background: #eee url("../img/six__email.png") 50px 50% no-repeat;
	}

	@media (min-width: $screen-lg-min) {

		font-size: 3rem;
	}


}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}