
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	padding: 1.5rem 3rem;
	display: inline-block;
	vertical-align: middle;
	background: $color-red;
	text-transform: uppercase;

	@include border-radius(25px);
	@include transition(.2.5s);

	&:hover {
		color: #fff;
		background: #ea2a4f;
	}

	&:active {
		background: $color-red;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}