.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 5.4rem;
	color: #5a5a5a;
	background: #fff;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 1.6rem 2.6rem;
	border: 1px solid transparent;
	@include placeholder(#5a5a5a);
	@include border-radius(27px);
	@include transition(.3s);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: transparent;
		@include placeholder(transparent);
		@include transition(.3s);
	}
}

.red,
.error {

	.form_control {
		border-color: $color-red;
	}
}

.form_group {
	margin-bottom: 2rem;
}
